<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOFOS2_Migration_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SOFOS2_Migration_Tool.Properties.Settings>
            <setting name="HOST" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SOURCE_DB" serializeAs="String">
                <value>mahabang_parang</value>
            </setting>
            <setting name="DESTINATION_DB" serializeAs="String">
                <value>sofos2_mp_sales</value>
            </setting>
            <setting name="USERNAME" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>password</value>
            </setting>
        </SOFOS2_Migration_Tool.Properties.Settings>
    </userSettings>
</configuration>